<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Install a print on Wall</title>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    /* Additional styles if needed */
</style>
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-4">Install a print on Wall</h1>
    <form method="POST" action="/">
        <div class="row">
            <div class="col-md-4">
                <!-- Input box -->
                <input type="number" class="form-control" placeholder="height" name="height" id="height" style="margin-bottom: 8px;" required >

                <input type="number" class="form-control" placeholder="width" name="width" id="width" style="margin-bottom: 8px;" required>

                <input type="number" class="form-control" placeholder="dot_x" name="dot_x" id="dot_x" style="margin-bottom: 8px;" required>

                <input type="number" class="form-control" placeholder="dot_y" name="dot_y" id="dot_y" style="margin-bottom: 8px;" required>

                <input type="number" class="form-control" placeholder="dot_xx" name="dot_xx" id="dot_xx" style="margin-bottom: 8px;">

                <input type="number" class="form-control" placeholder="dot_xy" name="dot_yy" id="dot_yy" style="margin-bottom: 8px;">

                <input type="number" class="form-control" placeholder="eyes level" name="eyelevel" id="eyelevel" style="margin-bottom: 8px;" required>
                <input type="submit" value="Draw Frame">

            </div>
            <div class="col-md-8">
                <!-- Image -->
                <img src="{{ url_for('static', filename='images/example.png') }}" alt="example" class="img-fluid rounded" >
            </div>
        </div>
        <!-- Rest of the form -->
    </form>
</div>
<!-- Include Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>